<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col-1">
        <h2 class="footer-heading">Hari Guhan T</h2>
        <ul class="contact-list">
          <li><a class="u-email" href="mailto:htsgs3@gmail.com">htsgs3 AT gmail DOT com</a></li>
          <li><a class="u-email" href="mailto:hariguha@buffalo.edu">hariguha AT buffalo DOT edu</a></li>
          <li><a class="u-email" href="mailto:hariguhan@tuta.io">hariguhan AT tuta DOT io</a></li>
        </ul>
      </div>
      <div class="footer-col-2">
        <div class="social-media-list">
          {{ partial "social-icons.html" . }}
        </div>
      </div>
      <div class="footer-col-3">
        {{ partial "lower-ribbon.html" . }}
      </div>
      
    </div>
    
  </div>
</footer>