{{ define "main" }}
<div class="main-container intro-section">
    <!--Introduction Section-->
    <section class="hero">
      <div class="display-picture">
        <img src="images/guhan_.jpg">
      </div>
      <div class="hero-body">
        <h2 class="subtitle">
          Hey! I'm <strong><a href="/about">Guhan</a></strong>. 
          <br/>Love designing Software & Products
          <br/><br/>Welcome to my blog. <a href="blogs/" class="landing-link" title="blog">Here's every post I've written.</a><br>
          Thoughts, Learning, Travel, Talks and Events!<br>
          Enjoy & Stay tuned!
        </h2>
      </div>
  </section>
</div>

{{ end }}