{{ define "main" }}
   <section class="section">
      <div class="container">
      <!--Blog List-->
      {{ if eq "Blogs" $.Name }}
        <!--<table class="list-table">
          <tbody>
          {{ range .Data.Pages }}
            <tr>
              <td class="td-time"><time>{{ (.Date.Format (default "January 2, 2006" $.Site.Params.dateFormat)) }}</time></td>
              <td class="table-title">
                {{ with .Param "favourite"}} {{ if eq . true }} {{ emojify ":star:" }} {{ end }}{{ end }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </td>
            </tr>
          {{ end }}
          </tbody>
        </table>-->
        <div class="list-table">
          {{ range .Data.Pages.GroupByDate "2006"  }}
            <h3 class="group-list-entry">{{ .Key }}</h3>
            {{ range .Pages }}
            <div class="list-entry">
              <div class="td-entry-title">
                {{ with .Param "favourite"}} {{ if eq . true }} {{ emojify ":star:" }} {{ end }}{{ end }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </div>
              <div class="td-entry-time"><time>{{ (.Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat)) }}</time></div>
            </div>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
      
      <!--Tag Container-->
      {{ $taxo := "categories" }}
      {{ if eq $taxo $.Data.Plural }}
          <h2>{{ $.Data.Singular | humanize }} - #{{ $.Name | humanize }}</h2>
          <div class="list-table">
              {{ range .Pages }}
              <div class="list-entry">
                <div class="td-entry-title">
                  {{ with .Param "favourite"}} {{ if eq . true }} {{ emojify ":star:" }} {{ end }}{{ end }}
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                <div class="td-entry-time"><time>{{ (.Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat)) }}</time></div>
              </div>
            {{ end }}
          </div>
      {{ end }}
    </section>
</div>

{{ end }}